@model X20240408.EntidadesDeNegocio.PersonaX

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro de eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioX)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </form>
</div>
